@media only screen and (min-width: 720px) {
  #creations h2 {
    font-size: 12vw;
  }

  #services {
    gap: 40px;
  }

  #services-header h2 {
    font-size: 12vw;
  }

  .service {
    width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  #creations {
    height: 600px;
    gap: 100px;
  }

  .creations-photos {
    transform: scale(1.4);
  }
}
